/* =========================
   GLOBAL
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-color: black;

  /* subtle grid with orange tone */
  background-image: 
    linear-gradient(to right, rgba(255, 123, 0, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 123, 0, 0.08) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 123, 0, 0.25), rgba(0, 0, 0, 0) 80%);

  background-size: 50px 50px, 50px 50px, 100% 100%;
  background-repeat: repeat;
  color: #e0e0e0;
}

/* =========================
   HEADER
========================= */
header {
  width: 100%;
  padding: 20px;
  background: #101010;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 20px rgba(0,0,0,.6);
}

/* Logo */
.logo {
  color: #ff7b00;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}


/* =========================
   NAV LINKS
========================= */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: #dcdcdc;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: .3s;
  cursor: pointer;
}

.nav-links a:hover {
  color: #ff7b00;
}


/* =========================
   HAMBURGER (MOBILE)
========================= */
.hamburger {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}


/* =========================
   HERO
========================= */
.hero {
  background: #171717;
  color: #e0e0e0;
  text-align: center;
  padding: 90px 20px;
  border-radius: 10px;
  margin-top: 90px;
  margin-bottom: 30px;
  box-shadow: 0 4px 28px rgba(0,0,0,.7);
}

.hero h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
  color: #cfcfcf;
  margin-bottom: 30px;
}

.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.hero .btn1 {
  background: #ff7b00;
  padding: 12px 30px;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.hero .btn1:hover {
  transform: translateY(-2px);
  background: #ffa046;
}


/* =========================
   CONTACT
========================= */
.contact {
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 5rem;
}

.contact h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: white;
  padding-top: 3rem;
}

.underline {
  width: 70px;
  height: 4px;
  background-color: #ff7b00;
  border-radius: 4px;
  margin: 0 auto 20px auto;
}

.contact p {
  color: #cfcfcf;
  margin-bottom: 30px;
}


/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 12px 15px;
  background: #1f1f1f;
  border: 1px solid #333;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

form input::placeholder,
form textarea::placeholder {
  color: #999;
}

form button {
  padding: 12px;
  background: #ff7b00;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition:.3s;
}

form button:hover {
  background:#ffa046;
  transform: translateY(-2px);
}

.logo{
  justify-self:start;
}

.logo img{
  height:42px;
  width:auto;
  transition:.3s;
}

.logo img:hover{
  filter:drop-shadow(0 0 6px rgba(255,255,255,.4));
}
/* =========================
   SOCIAL ICONS
========================= */
.social-icons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  color: #ffffff;
  font-size: 26px;
  transition:.3s;
}

.social-icons a:hover {
  color: rgb(250, 113, 15);
  transform: scale(1.15);
}


/* =========================
   MOBILE NAV
========================= */
@media (max-width: 768px) {

  .nav-links {
    display: none;
    position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    flex-direction: column;
    gap: 20px;
    padding: 30px 40px;
   border:1px solid rgba(255,255,255,.18);
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    z-index: 1000;
  }

  .nav-links.active {
    display:flex;
  }

  .hamburger {
    display:block;
  }
}
