*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Poppins,sans-serif;
  background:#0f0f0f;
  color:white;
  padding-top:80px;
}

/* ================= NAVBAR ================= */

header{
  position:fixed;
  top:0;
  width:100%;
  background:#0b0b0b;
  z-index:1000;
}

.navbar{
  display:grid;
  grid-template-columns:1fr auto 1fr;
  align-items:center;
  padding:18px 65px;
}

.logo img{
  height:42px;
}

/* NAV LINKS */

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  position:relative;
  color:#d6d6d6;
  text-decoration:none;
  font-size:14px;
  padding-bottom:6px;
  transition:.3s;
}

/* hover color */
.nav-links a:hover{
  color:#ffffff;
}

/* active page */
.nav-links a.active{
  color:#ff7b00;
  font-weight:600;
}

/* underline bar for active link */
.nav-links a.active::after{
  content:'';
  position:absolute;
  left:0;
  bottom:-2px;
  width:100%;
  height:2.5px;
  background:#ff7b00;
  border-radius:10px;
  box-shadow:0 4px 15px rgba(108,168,255,.5);
}


/* ================= PAGE TITLE ================= */

.page-title{
  text-align:center;
  font-size:32px;
  margin-bottom:20px;
}


/* ================= FILTER TABS ================= */

.filter-tabs{
  display:flex;
  justify-content:center;
  gap:15px;
  margin:30px 0;
}

.tab{
  padding:8px 18px;
  border-radius:20px;
  background:#1b1b1b;
  border:1px solid #222;
  color:white;
  cursor:pointer;
  transition:.3s;
}

.tab:hover{
  background:#222;
}

.tab.active{
  background:#ff7b00;
  color:#000;
}


/* ================= PROJECT GRID ================= */

.projects-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
  gap:30px;
  padding:0 60px 60px;
}


/* ================= PROJECT CARD ================= */

.project-card{
  background:#111;
  border:1px solid #1f1f1f;
  border-radius:16px;
  overflow:hidden;
  transition:.3s;
}

/* orange glow hover */
.project-card:hover{
  box-shadow:
    0 0 18px rgba(255,123,0,.45),
    0 0 45px rgba(255,123,0,.25);
  transform:translateY(-3px);
}

.project-card img{
  width:100%;
  border-bottom:1px solid #1f1f1f;
}

.project-info{
  padding:18px;
}

.title-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.badge{
  font-size:12px;
  padding:5px 10px;
  border-radius:20px;
}

/* status colors */
.completed-badge{
  background:#022c22;
  color:#25e8a3;
}

.progress-badge{
  background:#2d2a00;
  color:#ffe666;
}

.stack{
  color:#c7c7c7;
  margin:8px 0;
}

.desc{
  color:#b8b8b8;
  line-height:1.5;
  margin-bottom:10px;
}

.link{
  color:#ff7b00;
  font-size:14px;
  text-decoration:none;
}

.link:hover{
  text-decoration:underline;
}
